html {
  overflow: hidden;

}

body{
  margin: 0;
  padding: 0;
  /*
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          */
}

body {
  font-family: sans-serif;
}


.container {
  margin: 0 auto;
  background: #111;
  width: 40000px !important;
  height: 40000px !important;
  position: relative;
  left: -20000px;
  top: -20000px;
}

.item {
  /*float: left;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background: #ACE;
  */
  padding:30px;
}

.item:hover{
  background-color:rgba(255,255,255,.1);
}

.item.w2 { width:  100px; }
.item.h2 { height: 100px; }
.item.w4 { width:  200px; }
.item.h4 { height: 200px; }

.fluid {
}

.has-padding {
  padding: 10px 20px 30px 40px;
}

/* dragging */
.is-dragging,
.is-positioning-post-drag,
.ui-draggable-dragging {
  z-index: 10;
  background: orange;
}
