html {
  overflow: hidden;

}

body{
  margin: 0;
  padding: 0;
  /*
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          */
}

body {
  font-family: sans-serif;
}


.container {
  margin: 0 auto;
  background: #111;
  position: relative;
  width: 7000px !important;
  height: 7000px !important;
  left: -3500px;
  top: -3500px;
}

.panzoom {

}
.item {
  float: left;

  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
}
