html {
  overflow: hidden;

}

body{
  margin: 0;
  padding: 0;
  /*
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          */
}

body {
  font-family: sans-serif;
  background: #111;
}


.container {
  margin: 0 auto;
  background: #111;
  position: relative;

}

#loginButton {
  position: fixed;
  top: 0;
  right: 0;
}

#shuffleButton {
  position: fixed;
  top: 40px;
  right: 0;
}

#boardSelect {
  position: fixed;
  top: 80px;
  right: 0;
}

.panzoom {

}
.item {
  float: left;
 /* padding: 20px; */
}
